.container {
  /* background: radial-gradient(
      61.56% 74.06% at 33.48% 81.05%,
      #2c184e 0%,
      rgba(74, 41, 60, 0) 55.79%
    ),
    radial-gradient(
      53.31% 53.29% at 63.16% 69.82%,
      #4a293c 0%,
      rgba(28, 5, 40, 0.5) 56.73%,
      rgba(28, 5, 40, 0) 99.04%
    ),
    radial-gradient(
      85.98% 65.77% at 76.45% 4.54%,
      #260c16 0%,
      rgba(28, 5, 40, 0.5) 52.12%,
      rgba(0, 0, 0, 0) 100%
    ),
    #05010c; */

  /* background: radial-gradient(
      67.29% 55.31% at 38.01% 86.43%,
      rgba(44, 24, 78, 0.75) 0%,
      rgba(5, 1, 12, 0) 86.68%
    ),
    radial-gradient(
      53.31% 53.29% at 63.16% 69.82%,
      #4a293c 0%,
      rgba(5, 1, 12, 0) 76.04%
    ),
    radial-gradient(
      85.98% 65.77% at 76.45% 4.54%,
      #260c16 0%,
      rgba(28, 5, 40, 0.5) 52.12%,
      rgba(5, 1, 12, 0) 100%
    ),
    #05010c; */

  background: radial-gradient(
      67.29% 55.31% at 38.01% 880px,
      rgba(77, 14, 45, 0.5) 0%,
      rgba(5, 1, 12, 0) 86.68%
    ),
    radial-gradient(
      53.31% 53.29% at 63.16% 717px,
      #1f3256 0%,
      rgba(5, 1, 12, 0) 76.04%
    ),
    radial-gradient(
      85.98% 65.77% at 76.45% 50px,
      #1f3256 0%,
      rgba(28, 5, 40, 0.5) 52.12%,
      rgba(5, 1, 12, 0) 100%
    ),
    #05010c;

  background-size: 100% auto;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.translation {
  font-size: 72px;
  background: -webkit-linear-gradient(120deg, #ec4622, #2f69d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coloredText {
  background: -webkit-linear-gradient(120deg, #ec4622, #b65e4a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.survey {
  background: linear-gradient(180deg, #b25c49 0%, #bc3518 100%);
}

.surveyContainer {
  background: linear-gradient(120deg, #ec4622, #2f69d7);
}

.fragmentContainer {
  background: linear-gradient(25deg, #18101d, #2f69d75e);
  position: relative;
}

.fragmentContainer::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  background: linear-gradient(1deg, #05010c 0%, #18101d00);
  left: 0;
  border-radius: 0 0 0.75rem 0.75rem;
}

.uiExampleContainer::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 10px;
  left: 0;
  border-radius: 0 0 0.75rem 0.75rem;
  filter: blur(56px);
  border-radius: 100%;
  opacity: 50%;
  background-color: #2f69d7;
}

.uiExampleContainer {
  position: relative;
}

.avatar {
  position: relative;
  width: 72px;
  height: 72px;
  background-size: 135%;
  border-radius: 100%;
  background-position: -12px -1px;
  border: 2px solid #b65e4a;
}

.quote::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    69.24% 70.48% at 50% 50%,
    #270dc7 0%,
    #8658e3 100%
  );
  mix-blend-mode: color;
  top: 0;
  left: 0;
  opacity: 20%;
}

.feature {
  position: relative;
}

.feature + .feature {
  margin-top: 72px;
}

@media (min-width: 768px) {
  .feature {
    top: -50px;
  }

  .feature:nth-child(2n) {
    top: 0;
    bottom: -50px;
  }

  .feature + .feature {
    margin-top: 0;
  }

  .feature:nth-child(n + 3) {
    margin-top: 116px;
  }
}

.feature::after {
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 80%;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(28px);
  border-radius: 100%;
  opacity: 25%;
  background-color: #2f69d7;
  z-index: -1;
}
